*{
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 50px;
}

#home {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}


#home h1 {
  text-align: center;
}

.navbar {
  background-color: white;
}

.home-section {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  height: 100vh;
}

.dark-section {
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}